$blue: rgb(32, 125, 255);
$main-blue: rgb(32, 125, 255);
$secondary-blue: rgb(32, 125, 255);
$border-color-regular: #c6c8ca;
$text-color-extra-light: rgba(0, 0, 0, 0.2);
$text-color-light: rgba(0, 0, 0, 0.4);
$text-color-medium: rgba(0, 0, 0, 0.6);
$text-color-dark: rgba(17, 17, 17, 1);
$text-color-regular: rgb(15, 17, 17);
$text-color-regular-2: #6d6d6d;
$gray: rgb(238, 238, 238);
$secondary-gray: rgb(216, 216, 216);
$stroke: rgb(27, 36, 48);
// $green: rgb(107, 203, 119);
$green: #005f99;
$red: #ed4f32;
$form_error_red: rgb(164, 38, 44);
//$yellow: rgb(255, 201, 31);
$yellow: rgb(255, 222, 0);
$text-color-dropbox: #1e1919;
$modal_box_shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
